{
	"git": {
		"autoCommit": true,
		"autoPush": true
	},
	"data": {
		"stylings": {
			"fonts": {
				"UI": {
					"family": "Fira Sans Semibold",
					"size": 10
				},
				"Mono": {
					"family": "Agave Nerd Font",
					"size": 10
				}
			},
			"hoverOvers": {
        // Backgrounds -----------------------------------------------------
        // redo: Originally: "rgba(233, 179, 0, 0.3)"
				"background1": "rgba(233, 179, 0, 0.75)",
        // redo: Originally: "#FFFFFF"
        "background2": "#f4cccc",
        // redo: Originally: "#CCCCCC"
        "background3": "#f4cccc",
        "background4": "#e06666",
        "background5": "#38761d",
        // Text ------------------------------------------------------------
				"text1": "black",
        "text2": "#000000",
        // Borders ---------------------------------------------------------
        "border1": "#9fc5e8", // Used for: Waybar bottom border,
        // Border-ratios ---------------------------------------------------
        // redo: Originally: "15px"
        "bradius1": "10px",
			}
		}
	}
}
