{
	"edit": {
    		"command": "nvim"
	},
	"git": {
		"autoCommit": true,
		"autoPush": true
	},
	"data": {
		"stylings": {
			"fonts": {
				"UI": {
					"family": "Fira Sans Semibold",
					"size": 11
				},
				"Mono": {
					"family": "Atkinson Hyperlegible Mono",
					"size": 10
				}
			},
			"hoverOvers": {
        // Backgrounds -----------------------------------------------------
        // redo: Originally: "rgba(233, 179, 0, 0.3)"
				"background1": "rgba(233, 179, 0, 0.75)",
        // redo: Originally: "#FFFFFF"
        "background2": "#f4cccc",
        // redo: Originally: "#CCCCCC"
        "background3": "#f4cccc",
        "background4": "#e06666",
        "background5": "#38761d",
        // Text ------------------------------------------------------------
				"text1": "#00e600",
        "text2": "#000000",
        // Borders ---------------------------------------------------------
        "border1": "rgb(255,204,255)", // Used for: Waybar bottom border, inactive windows (hypr)
        "border2": "rgb(255,77,77)",  // Used for: Workspaces border, active window border (hypr)
        "border3": "rgb(0,153,51)", // Used for: Active window border (hypr)
        // Border-ratios ---------------------------------------------------
        // redo: Originally: "15px"
        "bradius1": "10px",
			}
		}
	}
}
