{
	"git": {
		"autoCommit": true,
		"autoPush": true
	},
	"data": {
		"stylings": {
			"fonts": {
				"UI": {
					"family": "Fira Sans",
					"size": 10
				},
				"Mono": {
					"family": "Sarasa Term SC Nerd",
					"size": 11
				}
			},
			"hoverOvers": {
				"background1": "rgba(0, 0, 0, 0.3)",
				"text1": "black"
			}
		}
	}
}
