local wezterm = require("wezterm")

local config = wezterm.config_builder()

config.color_scheme = 'Grey-green'
config.enable_tab_bar = false
config.window_background_opacity = 0.8
config.font = wezterm.font("{{ .stylings.fonts.Mono.family }}")
config.font_size = {{ .stylings.fonts.Mono.size }}
config.window_close_confirmation = 'NeverPrompt'

{{- if eq .chezmoi.os "windows" }}
-- Set default shell to PowerShell on Windows
config.default_prog = { 'pwsh.exe' }
-- We do this on linux too now.
-- config.window_close_confirmation = 'NeverPrompt'
{{- end }}
-- and finally, return the configuration to wezterm
return config
