[tools]
# ===================================================
# For mise
# ===================================================
cargo-binstall = "latest" # Cargo binstall makes crate:-packages install faster. Temporary removal is okay if it acts up again.
usage = "latest"

# ===================================================
# Runtimes/compilers for tooling.
# ===================================================
bun = "latest" # Bitwarden-cli
python = "latest" # Hyfetch
rust = { version = "latest", components = "rust-analyzer" } # All cargo: packages.

# ===================================================
# Language tooling
# ===================================================
zig = "latest" # Compiles some plugins for neovim
node = "23"
"cargo:kdl-lsp" = "latest"


# ===================================================
# Editors
# ===================================================
helix = "latest"
neovim = "0.11.4"

# ===================================================
# Development tools
# ===================================================
podman = "latest"
bombardier = "latest"
"cargo:bananen" = "latest"
"cargo:tree-sitter-cli" = "latest"
"cargo:cargo-clean-all" = "latest"
"cargo:jj-cli" = "latest"
"cargo:lazyjj" = "latest"
lazygit = "latest"
github-cli = "latest"

# ===================================================
# Shell tooling
# ===================================================
"cargo:eza" = "latest"
"cargo:bat" = { version = "latest", locked = false }
"cargo:kc" = "latest"
"cargo:starship" = "latest"
"cargo:zoxide" = "latest"
"cargo:rage" = "latest"
fastfetch = "latest"
fzf = "latest"
ripgrep = "latest"
difftastic = "latest"


{{ if eq .chezmoi.os "linux" }}
# ===================================================
# Linux specific tooling
# ===================================================
pipx = "latest" # Used to install hyfetch
"pipx:hyfetch" = "latest" # Used for landing
zellij="latest" # Terminal multiplexor
# End Linux specific
{{- end }}

[env]
GIT_EXTERNAL_DIFF = 'difft'

[alias]
[settings]

[settings.npm]
bun = true
