[tools]
# Cargo binstall makes crate:-packages install faster.
cargo-binstall = "latest"
watchexec = "latest"
bun = "latest"
node = "23"
usage = "latest"
helix = "latest"
rust = { version = "1.87.0", components = "rust-analyzer" }
bombardier = "latest"
"cargo:bananen" = "latest"
"cargo:eza" = "latest"
"cargo:bat" = "latest"
"cargo:kc" = "latest"
"cargo:starship" = "latest"
"cargo:zoxide" = "latest"
"cargo:rage" = "latest"
"cargo:cargo-clean-all" = "latest"
"cargo:kdl-lsp" = "latest"
"cargo:macchina" = "latest"
lazygit = "latest"
neovim = "0.11.2"
fastfetch = "latest"
fzf = "latest"
github-cli = "latest"
ripgrep = "latest"
python = "latest"
difftastic = "latest"
zig = "latest"
{{ if eq .chezmoi.os "linux" }}
# Linux specific
pipx = "latest"
"pipx:hyfetch" = "latest"
zellij="latest"
# End Linux specific
{{- end }}

[env]
GIT_EXTERNAL_DIFF = 'difft'

[alias]
[settings]

[settings.npm]
bun = true
