
layout {
    pane split_direction="horizontal" size="100%" {
        pane size="80%" borderless=true
        pane {
            split_direction "vertical"
            pane size="70%"
            pane
        }
    }
    pane size=1 borderless=true  {
        plugin location="zellij:status-bar"
    }
}

keybinds {
    shared {
      bind "Ctrl q" { Quit; }
    }
}
