
layout {
    pane split_direction="horizontal" size="100%" {
      // The editor pane, but I won't set nvim as command, because that'll disable it from using LSP's
        pane size="80%" borderless=true 
        pane {
            split_direction "vertical"
                       pane size="70%"
            pane
        }
    }
    pane size=1 borderless=true  {
        plugin location="zellij:status-bar"
    }
}

keybinds {
  unbind "Ctrl q"
  shared {
    bind "Ctrl q" { CloseTab; SwitchToMode "Normal"; }
  }
}

