
layout {
      pane {
          command "hyfetch"
          borderless true
        } 
        pane {
            start_suspended true
            size "5%"         
            command "zellij"
            args "--layout" "1"
            focus true
            borderless true
          }

}

keybinds {
    shared {
      bind "Enter" "Space" "Ctrl g" {
       NewTab {
           layout "1"
       }; }
      bind "Ctrl q" { Quit; }
    }
}
