fork = true
frame = "full"
idle = true
mouse-cursor-icon = "arrow"
tabs = false
theme = "auto"
title-hidden = true
vsync = false


[font]
normal = ["{{ .stylings.fonts.Mono.family }}"]
size = {{ .stylings.fonts.Mono.size }}
