 # See https://wiki.hyprland.org/Configuring/Variables/ for more
general {   
  col.active_border = {{ .stylings.hoverOvers.border2 }} {{ .stylings.hoverOvers.border3 }} 45deg
  col.inactive_border = {{ .stylings.hoverOvers.border1 }}
}
