[general]
import = ["{{.chezmoi.sourceDir}}/dot_config/alacritty/themes/rose-pine.toml"]
[window]
opacity = 0.85
padding = { x = 0, y = 0 }


[font]
normal = { family = "{{ .stylings.fonts.Mono.family }}", style = "Regular" }
size = {{ .stylings.fonts.Mono.size }}

