[general]
import = ["{{.chezmoi.sourceDir}}/dot_config/alacritty/themes/rose-pine.toml"]
[window]
opacity = 0.61

[window.padding]
x = 15
y = 15

[font]
normal = { family = "Maple Mono SC NF", style = "Regular" }
size = 9
