[general]
import = ["{{.chezmoi.sourceDir}}/dot_config/alacritty/themes/rose-pine.toml"]
[window]
opacity = 0.9

[window.padding]
x = 15
y = 15

[font]
normal = { family = "Monofur Nerd Font Mono", style = "Regular" }
size = 10
