[font]
normal = { family = "{{ .stylings.fonts.Mono.family }}", style = "Regular" }
size = {{ .stylings.fonts.Mono.size }}

[colors]
primary = { background = "#222222", foreground = "#e0e0e0" }
cursor = { text = "#222222", cursor = "#e0e0e0" }
selection = { text = "#e0e0e0", background = "#444444" }
normal = {   black = "#222222",    red = "#c64040",   green = "#a0c640",  yellow = "#c6c640",  blue = "#40a0c6",  magenta = "#c640c6",  cyan = "#40c6c6",  white = "#e0e0e0"}
bright = {   black = "#808080",   red = "#c64040",  green = "#a0c640",  yellow = "#c6c640",  blue = "#40a0c6",  magenta = "#c640c6",  cyan = "#40c6c6",  white = "#ffffff"}
