[font]
normal = { family = "{{ .stylings.fonts.Mono.family }}", style = "Regular" }
size = {{ .stylings.fonts.Mono.size }}


# Default colors
[colors.primary]
background = '#270d06'
foreground = '#e8e6e9'
dim_foreground = "#908caa"
bright_foreground = "#fec10c"

# Normal colors
[colors.normal]
black   = '#111133'
red     = '#d61d52'
green   = '#48a842'
yellow  = '#e1a51c'
blue    = '#5556d3'
magenta = '#8650d3'
cyan    = '#52afb7'
white   = '#9f9aa7'

# Bright colors
[colors.bright]
black   = '#484867'
red     = '#e15877'
green   = '#71ab3a'
yellow  = '#c6a642'
blue    = '#6d6dc9'
magenta = '#956ad3'
cyan    = '#6ab6bd'
white   = '#e8e6e9'


[colors.cursor]
text = "#e0def4"
cursor = "#56526e"

[colors.vi_mode_cursor]
text = "#e0def4"
cursor = "#56526e"

[colors.search.matches]
foreground = "#908caa"
background = "#393552"

[colors.search.focused_match]
foreground = "#232136"
background = "#ea9a97"

[colors.hints.start]
foreground = "#908caa"
background = "#2a273f"

[colors.hints.end]
foreground = "#6e6a86"
background = "#2a273f"

[colors.line_indicator]
foreground = "None"
background = "None"

[colors.footer_bar]
foreground = "#e0def4"
background = "#2a273f"

[colors.selection]
text = "#e0def4"
background = "#44415a"


[colors.dim]
black = "#6e6a86"
red = "#eb6f92"
green = "#3e8fb0"
yellow = "#f6c177"
blue = "#9ccfd8"
magenta = "#c4a7e7"
cyan = "#ea9a97"
white = "#e0def4"

