{
  "preset": "lesbian",
  "mode": "rgb",
  "light_dark": "light",
  "lightness": 0.40,
  "color_align": {
    "mode": "horizontal",
    "custom_colors": [],
    "fore_back": null
  },
  "backend": "fastfetch",
  "args": null,
  {{ if eq .chezmoi.os "windows" -}}
    "distro": "windows_11_small",
  {{- else -}}
  "distro": null,
  {{- end }}
  "pride_month_shown": [],
  "pride_month_disable": false
}
